<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Axodox.Common" version="1.0.40" targetFramework="native" />
  <package id="Axodox.MachineLearning" version="1.0.45" targetFramework="native" />
  <package id="Axodox.MachineLearning.OnnxRuntime.DirectML" version="1.17.1" targetFramework="native" />
  <package id="Microsoft.AI.DirectML" version="1.13.1" targetFramework="native" />
  <package id="Microsoft.UI.Xaml" version="2.8.4" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.1774.30" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.230524.4" targetFramework="native" />
  <package id="Win2D.uwp" version="1.26.0" targetFramework="native" />
</packages>